<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MovingCars;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="Data Source=10.99.2.43;Initial Catalog=MovingCars;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=10.99.2.43;Initial Catalog=MovingCars;Integrated Security=False;User id=trasport;Password=tran2017;" providerName="System.Data.SqlClient" />
</connectionStrings>
