@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    г.Тюмень.<br />
    ул.Харьковская, 75к.1<br />
</address>

<address>
    <strong>Разработка:</strong>   <a href="mailto:ksekisov@vostok-electra.ru">ksekisov@vostok-electra.ru</a><br />
</address>