@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Добавить новый заказ</h1>
    <p class="lead">Раздел для формирования заявки на осуществление поездки сотрудника, посредством автотранспорта организации. Нажмите на кнопку "Перейти" и заполните параметры заказа.</p>
    <p><a href="/Development/Index" class="btn btn-primary btn-lg">Перейти &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Просмотр заказов</h2>
        <p>
            Раздел для просмотра всех совершенных заказов. В данном разделе вы можете увидеть заказы за любой день с хронологией.
            А также сформировать выборку, с помощью фильтрации по датам, статусам и прочим параметрам заказа.
        </p>
        <p><a class="btn btn-default" href="/Development/Index">К заказам &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Справочник водителей</h2>
        <p>В справочнике водителей вы можете добавить и изменить информацию о водителях и их автомобилях.</p>
        <p><a class="btn btn-default" href="/Development/Index">Водители &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Справочник адресов</h2>
        <p>Справочник адресов Тюменской области. Здесь вы можете найти нужный вам адрес региона, либо добавить новый, если он отсутвует в справочнике.</p>
        <p><a class="btn btn-default" href="/Development/Index">Адреса &raquo;</a></p>
    </div>
 </div>   
 <div class="row">
        <div class="col-md-4">
            <h2>Справочник пассажиров</h2>
            <p>В справочнике пассажиров, вы можете добавить или изменить информацию о пассажирах (сотрудниках, пользующихся услугами автотранспорта организации).</p>
            <p><a class="btn btn-default" href="/Development/Index">Пассажиры &raquo;</a></p>
        </div>
</div>