@{
    Layout = null;
}

<div>
    <h2>Раздел находится в разработке</h2>
    <p>Данный раздел не существует или находится в разработке.</p>
    <p>@Html.ActionLink("Вернуться на предыдущую страницу...", null, null, null, new { href = Request.UrlReferrer })</p>
</div>
